sudo: required
services:
    - docker
env:
    global:
        - IMAGE_BUILD_DATE=$(date -u +"%Y-%m-%dT%H:%M:%SZ")
        - IMAGE_VERSION="$(cat .image-version).$TRAVIS_BUILD_NUMBER"
        - IMAGE_VCS_REF=$(git rev-parse --short HEAD)
        - IMAGE_QTC_VERSION=${TRAVIS_TAG:-4.7.1}
        - secure: "TtrT3Wuq2mXqvGKNpm+9hRJVUH0gxvAmFBTu8UJjONKLotWZPfH1mDRnonJIOAL2TlOwzuGOkG7UWmaAjeMM1VCxjrdCV8w4NjiQHTZS7Gp1wVFFNIZ/rLK9Qh3T9Yt1W14WBo0arUlFDs75bhEjDwySrqGgUve2IcG7KgubgvGk7ojAtqV9G6obDWEWkrsaSTy3nka7seWrDLrGYgz5dvPafYiXj1MPgsnGVtsySoldYF0O83vc/n1h2ZQJHT1rnFSGGAIccoLQ3wBc2weqFOw9R0trseYrHPxqXBktC437zphrgiheUk7KdgZ19jlBfoKuxvQTfsfOSAegnYFuCuMxXckKQNMu6Ydxhb5WrK5iHb4lcXSXLCLETDhAN4lTOFL2ydLikyxPNJclEnM1QwPv+5qNIStygwaItGewPOR5Jin/VNacwiKvx75htfrUsGNT/Hrj4hDIxDj9k2zERdwi9oBy+7goVcrsQynD5Mj2lp0kVMYETtz6IqXQ4OYInmhFxuRyllGFaocqNX7cZBx3VT+VOZpRg72OVa9yAvJzVgZoEzDMr7S40cY41JTIF98HfaDta/K7S3fBu7fVPvYpCJMn5vXYiczakO+NmMYUEr82UC0zHVHC1AhouRgmRxGGLHPpN3eN/3bci1WlF9NdqTx2YBYXnIDBnuMGDhg="
        - secure: "Vj/MP0QrztZwjRWSn+2eD/9ZHu3VmxiyVhrpIkKmoFIRORfZcU25W38laBsLLj+kq+IXYsUlOI75u1fgYjvHIKIw/Z/5e7oEVj/0N57I5Y0/XhS1mZC9g9Au9mZCaLc+8UzBhRMQmr6g5cPWOG7NoiTP4BoSaZDEewT1vz7JD+Mzq1ZZAmH9KL62ptwdDMRCV6/gGBNXvcvvQSl2L8Ll2AES3z+U8zdzfPsxmMbfBzcdbLc0heKXSmzawNXvys27igCLFP8y51UDl8A02uT/mGlavEbFf6qlTJCh62+Tg96gxXW1ble5tWvaZDgvPxKfBiK0XirOTajceRlG4pvMFirU8tnSA4TEh6sj37RuLQVwy5NJRpNrxoWz+u/DwE5H3cVBrBbFt6RS9C53kdCtBhItjcB5ipA0PDiuqg2HAlN7D1PipPUFVnSHm+yebh8yzf3YiFxwVWYM2aZM/H3JEYC5tgTVjxu4OOEQko0OxkBFlXE1gNRfgLTzRlZ7YsDHMXNqR3x/i7q+nCfLiWgwLaGPWoxjNBM6rU4Gf2lDxdE6AwkxCBoPfAdVjfGUyDgc3fgDnjXstrJz7sgdnfjsxetogdtNWmD1AlIH6xMFxXROvuZUP+4QX/UtkgIZKlI7EDbqRjsHTeMV0mtMSFOXFUgDc/pRAwBTVFXueH20LeI="
jobs:
    include:
        - stage: build container
          env:
              - REPO_NAME=cseelye
              - IMAGE_NAME=qtcreator
              - IMAGE_TAG=$IMAGE_QTC_VERSION-$IMAGE_VERSION
              - DOCKERFILE_NAME=Dockerfile
          before_script: docker pull $REPO_NAME/$IMAGE_NAME:$IMAGE_TAG || true
          script: docker build --build-arg VCS_REF=$IMAGE_VCS_REF --build-arg BUILD_DATE=$IMAGE_BUILD_DATE --build-arg VERSION=$IMAGE_VERSION --build-arg QTC_FULL_VERSION=$IMAGE_QTC_VERSION --cache-from $REPO_NAME/$IMAGE_NAME:$IMAGE_TAG --tag $REPO_NAME/$IMAGE_NAME:$IMAGE_TAG --file $DOCKERFILE_NAME .
          before_deploy: docker login -u "$DOCKER_HUB_USERNAME" -p "$DOCKER_HUB_PASSWORD"
          deploy:
              provider: script
              script:
                  - docker push $REPO_NAME/$IMAGE_NAME:$IMAGE_TAG
                  - docker tag $REPO_NAME/$IMAGE_NAME:$IMAGE_TAG $REPO_NAME/$IMAGE_NAME:latest
                  - docker push $REPO_NAME/$IMAGE_NAME:latest
              on:
                  tags: true
